.navbar {
    background-color: purple;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

input[type=checkbox],
input[type=radio] {
    margin: 13px 6px 0;
    margin-top: 1px\9;
    line-height: normal;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 16px;
}

#currentTime {
    margin: 20px 60px;
}

.leftPane {
    background-color: teal;
    color: white;
    height: 800px;
    overflow-y: scroll
}

.mapPane {
    background-color: orange;
    color: white;
    height: 800px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}

.middlePane {
    margin-top: 0;
}


/********************
	Map Backgrounds
*********************/

.bg-map-frontier {
    background-image: url("../images/DisneyMap_01.jpg");
    width: 100%;
    height: 100%;
}

.bg-map-liberty1 {
    background-image: url("../images/DisneyMap_02.jpg");
}

.bg-map-fantasy {
    background-image: url("../images/DisneyMap_03.jpg");
}

.bg-map-liberty2 {
    background-image: url("../images/DisneyMap_04.jpg");
}

.bg-map-castle {
    background-image: url("../images/DisneyMap_05.jpg");
}

.bg-map-tomorrow {
    background-image: url("../images/DisneyMap_06.jpg");
}

.bg-map-adventure {
    background-image: url("../images/DisneyMap_07.jpg");
}

.bg-map-mainStreet {
    background-image: url("../images/DisneyMap_08.jpg");
}


/********************
	Map Rollovers
*********************/

.ro-map-mainStreet {
    background-image: url("../images/map-mainSt.png");
    width: 270px;
    height: 318px;
    position: absolute;
    top: 345px;
    left: 363px;
    opacity: 0;
}

.ro-map-adventureland {
    background-image: url(../images/map-Adventurelnd.png);
    width: 353px;
    height: 345px;
    position: absolute;
    top: 317px;
    left: 66px;
    opacity: 0;
}

.ro-map-frontierland {
    background-image: url("../images/map-frntlnd.png");
    width: 293px;
    height: 395px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.ro-map-liberty {
    background-image: url("../images/map-libertySq.png");
    width: 399px;
    height: 223px;
    position: absolute;
    top: 131px;
    left: 216px;
    opacity: 0;
}

.ro-map-fantasyland {
    background-image: url("../images/map-fantasyland.png");
    width: 366px;
    height: 285px;
    position: absolute;
    top: 0;
    left: 474px;
    opacity: 0;
}

.ro-map-tomorrowland {
    background-image: url("../images/map-tomorrowlnd.png");
    width: 353px;
    height: 345px;
    position: absolute;
    top: 209px;
    left: 544px;
    opacity: 0;
}

.ro-map-castle {
    background-image: url("../images/map-CinCastle.png");
    width: 93px;
    height: 115px;
    position: absolute;
    top: 269px;
    left: 435px;
    opacity: 0;
}


/********************
	Map Closeups
*********************/

.ro-map {}

.mapCloseupMainSt {
    background-image: url("../images/map_Zoom_MainSt.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.mapCloseupAdventure {
    background-image: url("../images/map_Zoom_Adventure.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.mapCloseupFront {
    background-image: url("../images/map_Zoom_Frontier.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.mapCloseupLiberty {
    background-image: url("../images/map_Zoom_Liberty.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.mapCloseupFantasy {
    background-image: url("../images/map_Zoom_Fantasy.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.mapCloseupTomorrow {
    background-image: url("../images/map_Zoom_Tomorrow.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.mapCloseupCastle {
    background-image: url("../images/map_Zoom_Castle.jpg");
    width: 900px;
    height: 663px;
    position: absolute;
    top: 0;
    left: 0;
}

.backArrow {
    position: absolute;
    top: 320px;
    left: 0;
    width: 80px;
    height: 30px;
    background-color: black;
    border-spacing: 5px;
    text-decoration: none;
    font-family: helvetica, sans-serif;
    color: white;
    border: none;
    font-size: 13px;
}
.slideDown {
    font-style: 1.4em;
    text-decoration: none;
    color: white,
}
.description {
    font-style: .8em;
    color: lightgrey;
    display: none;
}
.pinsMainfullOff {
  visibility: hidden;

}
.pinsMainfullOn {
  visibility: visible;
}