{{#each this}}

	<section id="areas--{{id}}" class="lm-areas">
	<div class="areasName">{{name}}</div>
	<div class="areasDescr">{{description}}</div>
	{{#if times}}
		<div class="attracTimes">{{times}}</div>
	{{/if}}
	</section>

{{/each}}
