{{#each this}}

	<section id="animal--{{@index}}" class="animal">
	<div class="animalName"><a href="#">{{name}}</a></div>
	{{!-- <div class="animalDescr">{{description}}</div> --}}
	<div class="animalLocat">{{location}}</div>
    </section>

{{/each}}