{{#each this}}

	<section id="character--{{@index}}" class="character">
	<div class="characterName"><a href="#">{{name}}</a></div>
	{{!-- <div class="characterDescr">{{description}}</div> --}}
	<div class="characterLocat">{{location}}</div>
    </section>

{{/each}}