{{#each this}}

	<section id="vendor--{{@index}}" class="vendor">
	<div class="vendorName"><a href="#">{{name}}</a></div>
	{{!-- <div class="vendorDescr">{{description}}</div> --}}
	<div class="vendorLocat">{{location}}</div>
    </section>

{{/each}}