{{#each this}}

	<section id="food--{{@index}}" class="food">
	<div class="foodName"><a href="description">{{name}}</a></div>
	{{!-- <div class="foodDescr">{{description}}</div> --}}
	<div class="foodLocat">{{location}}</div>
    </section>

{{/each}}