{{#each this}}

	<section id="game--{{@index}}" class="game">
	<div class="gameName"><a href="#">{{name}}</a></div>
	{{!-- <div class="gameDescr">{{description}}</div> --}}
	<div class="gameLocat">{{location}}</div>
    </section>

{{/each}}