{{#each this}}

	<section id="event--{{@index}}" class="event">
	<div class="eventName"><a href="#">{{name}}</a></div>
	{{!-- <div class="eventDescr">{{description}}</div> --}}
	<div class="eventLocat">{{location}}</div>
    </section>

{{/each}}