{{#each this}}

	<section id="show--{{@index}}" class="show">
	<div class="showName"><a href="#">{{name}}</a></div>
	{{!-- <div class="showDescr">{{description}}</div> --}}
	<div class="showLocat">{{location}}</div>
    </section>

{{/each}}